*{margin: 0; padding: 0;}
li{ list-style: none;}
a{ text-decoration: none;}

.container{ width: 1200px; margin: 0 auto;}
.p-rel{position: relative;}
.p-abs{position: absolute;}

.d-flex{display: flex;}
.d-block{display: block;}
.d-none{display: none;}

.justify-be{justify-content: space-between;}
.justify-c{justify-content: center;}
.align-c{align-items: center;}
.text-c{ text-align: center;}

.w-100{ width: 100%;}
.h-100{height: 100px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.fdc{flex-direction: column;}

#gnb .d1li{
    position: relative;
    padding: 30px;
    line-height: 2em;
}
.d2ul{
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100;
    width: 100%;
    overflow: hidden;
    transition: height 0.5s;
    text-align: center;
    z-index: 10000;
}

#gnb .d1li:hover .d2ul{
    height: 150px;
    background-color: aquamarine;
    
}
#slider li{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1.5s;
}
#slider li.show{
    opacity: 1;
}
#tabbox > div{
    width: 33.33%;
}
.tab .p-abs{
    top: 30px;
    left: 0;
    right: 0;
    display: none;
}
.tab > div.on .p-abs{
    display: flex;
}
.tab h3{
    cursor: pointer;
}
.notice li{
    display: flex;
    line-height: 2;
}
.notice p{
    width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gallery li{
    width: 80%;
}
.gallery li > img{
    width: 90%;
}

#ft .footbox{
    width: 80%;
}
#modal{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
}
.tab .fdc li{
    cursor: pointer;
}